<form>
	<div class="form-group">
		<label for="token">Url Gitlab</label>
		<input type="text" class="form-control" ng-model="user.url" placeholder="Url of your gitlab, only if it is external">
	</div>
	<div class="form-group">
		<label for="token">Your New Personal Access Token</label>
		<input type="text" class="form-control" ng-model="user.token" placeholder="Token">
	</div>
	<div class="form-group">
		<label for="Group">Group</label>
		<select ng-model="groupsToExport" ng-options="group.id as group.name for group in groups">
			<option value="">Select Account</option>
		</select>
	</div>
	<div class="form-group" ng-if="load">
		<img width="300px" src="tenor.gif" />
	</div>


	<button ng-if="exportButton" type="button" ng-csv="getArray()" csv-header="['Title', 'Description', 'State', 'CreateAt', 'UpdateAt', 'ClosedAt', 'Labels', 'Author Name', 'Author Username', 'Assignee Name', 'Assignee Username', 'Duo Date']"
	 filename="Reporter.csv" class="btn btn-default">Export</button>
</form>