<form>
	<div class="form-group col-xs-12 col-md-4">
		<label for="token">Url Gitlab</label>
		<input type="text" class="form-control" ng-model="user.url" placeholder="Url of your gitlab, only if it is external">
	</div>
	<div class="form-group col-xs-12 col-md-4">
		<label for="token">Your New Personal Access Token</label>
		<input type="text" class="form-control" ng-model="user.token" placeholder="Token">
	</div>
	<div class="form-group col-xs-12 col-md-2">
		<label for="Milestone">Milestone</label>
		<input type="text" class="form-control" ng-model="milestone" placeholder="Milestone">
	</div>
	<div class="form-group col-xs-12 col-md-12">
		<label for="Group">Group</label>
		<select ng-model="groupsToExport" ng-options="group.id as group.name for group in groups">
			<option value="">Select Group</option>
		</select>
	</div>
	
	<div  class="form-group radio col-xs-4 col-md-4">
		<label>
			<input type="radio" ng-model="state" value="all">All
		</label>
	</div>
	<div  class="form-group radio col-xs-4 col-md-4">
		<label>
			<input type="radio" ng-model="state" value="opened">Opened
		</label>
	</div>
	<div  class="form-group radio col-xs-4 col-md-4">
		<label>
			<input type="radio" ng-model="state" value="closed">Closed
		</label>
	</div>

	<div ng-if="message" class="form-group col-xs-12 col-md-12 alert alert-danger alert-dismissible">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		<strong>Problem! Verify your credentials</strong> {{message}}.
	</div>
	<div class="form-group col-xs-12 col-md-12" ng-if="load">
		<img width="300px" src="tenor.gif" />
	</div>
	<div class="form-group col-xs-3 col-md-3">
		<button ng-if="!load"  type="button" ng-click="searchData()" class="btn btn-default">
			<span class="glyphicon glyphicon-search"></span> Search data</button>
	</div>
	<div class="form-group col-xs-3 col-md-3">
		<button ng-if="exportButton" type="button" ng-csv="getArray()" csv-header="['Title', 'Description', 'State', 'CreateAt', 'UpdateAt', 'ClosedAt', 'Labels', 'Author Name', 'Author Username', 'Assignee Name', 'Assignee Username', 'Milestone', 'IdIssue', 'Duo Date']"
		 filename="Reporter.csv" class="btn btn-default">
			<span class="glyphicon glyphicon-download-alt"></span> Export to CSV</button>
	</div>
</form>